<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-imagee" no-scroll padding>
  <h1>Voici la page photos </h1>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Photos</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Photos page"></app-explore-container>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos">
        <img [src]="photo.data" />
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

