<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Homee
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="background-image" no-scroll padding>
  <h1>voici la page home </h1>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Homes</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Home Page"></app-explore-container>
</ion-content>
