.background-image{
    --background: url(https://besthqwallpapers.com/Uploads/3-5-2020/131317/thumb2-pink-eustoma-white-wood-background-white-wood-texture-background-with-eustoma-beautiful-pink-flowers.jpg) 0 0/100% 100% no-repeat;
}
h1{
    padding-left: 550px;
    padding-top: 300px;
    
}