
.background-imagee{
    --background: url(https://image.freepik.com/photos-gratuite/bouquet-roses-carte-vierge_23-2148380970.jpg) 0 0/100% 100% no-repeat;
}
h1,p{
    padding-left: 600px;
    padding-top: 300px;
    
}