<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      A Propos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-imagee" no-scroll padding>
  <h1>Voici la page  A propos  </h1>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">A Propos</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="A Propos page"></app-explore-container>
</ion-content>
